// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//@import "../valo/valo.scss";
@import "../reindeer/reindeer.scss";

@mixin mytheme {
  //@include valo;
  @include reindeer;
  // Insert your own theme rules here
  
  $darkblue:  #001962;
  $midblue: #0033cc;
  
  .v-toppanel {
  	//padding: 20px;
  	//background-image: url("img/parking.jpg");
   	border: 2px solid blue;
  	border-bottom-right-radius: 15px;
  	border-bottom-left-radius: 15px;
  	
  }
   .v-toppanel .v-panel-content{
  	padding: 10px;
  	background-image: url("img/parking-big.png");
  	background-repeat: no-repeat;
  	background-position: 25% 0%
   	
  }
  
  .v-midpanel {
   	border: 2px solid blue;
  	border-radius: 15px;
  }
  .v-midpanel .v-panel-content{
  	padding: 10px;
  }
  
  .v-menubar{
  	background-color: $midblue;
  	background-image: none;
  	border: 1px solid black;
  	border-radius: 15px;
  }
  
  
  .v-uploadbox-image{
  	width: 400px;
  	height: auto;
  }
  
  .v-comment-layout{
  	border-top: 1px solid $darkblue;
  	border-bottom: 1px solid $darkblue;
  }
  
  .v-login-panel{
	border: 2px solid blue;
	border-radius: 15px;  	
  }
  
  .v-login-panel .v-layout{
  	spacing: 5px;
  	margin: 20px;
  
  }
  
}